<p>
  stlye-bind works!
</p>


<!-- normal style property -->
<!-- <div style="color: orangered ; font-size:25px"> styling color: orangered ; font-size:25px </div> -->

<!-- [] style binding -->
<!-- <div [style.color]="'orangered'"> styling color: orangered </div> -->
<!-- <div [style.font-size]="'25px'"> styling font-size:25px</div> -->

<!-- Multi value -->
<!-- <div [style.color]="'orangered'" [style.font-size]="'25px'"> styling color: orangered ; font-size:25px </div> -->

<!--  exp ? true : false -->
<!-- <div [style.color]="isError ? 'red' : 'green'"> styling color: isError ? 'red' : 'green' </div> -->

<!-- ngStyle : directive -->
<!-- <div [ngStyle]="allStyles"> all styles </div> -->